@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg?rxtr0q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: "\e942"; }

* {
  direction: rtl; }

body {
  max-width: 2480px;
  margin: 0 auto;
  background-color: #fff; }

.top-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 600px; }

.top-banner_container {
  margin: 0 auto;
  text-align: center;
  padding: 150px; }
  .top-banner_container h1 {
    font-size: 36px;
    color: #1f3864;
    font-weight: bold; }

.top-banner_container_btn {
  border: 0;
  outline: none;
  background-color: #203864;
  color: #fff;
  margin-top: 100px;
  padding: 0px 100px;
  border-radius: 40px;
  position: relative;
  font-size: 36px;
  transition: 0.4s ease all; }
  .top-banner_container_btn img {
    position: absolute;
    left: 20px;
    top: 3px; }

.button-steps {
  margin-bottom: 80px; }

.button-steps_title {
  text-align: center;
  margin-bottom: 30px; }
  .button-steps_title h2 {
    text-align: center;
    color: #1f3864;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 70px;
    display: inline-block; }
  .button-steps_title img {
    display: inline-block;
    margin-right: 15px; }

.button-steps_container {
  text-align: center;
  background-color: #e5e5e5;
  position: relative;
  padding: 70px 30px 0;
  height: 400px; }

.button-steps_number {
  position: absolute;
  left: 50%;
  top: -43px;
  transform: translateX(-50%);
  color: #fff;
  background-color: #ffc000;
  border: 3px solid #e5e5e5;
  border-radius: 100px;
  padding: 10px 27px;
  font-size: 40px; }

.button-steps_title h4 {
  color: #1f3864;
  font-size: 36px; }

.button-steps_describe p {
  font-size: 24px;
  text-align: justify;
  color: #9f9f9f; }

.reg-form {
  background-color: #203864;
  padding: 40px 0 20px;
  color: #fff;
  position: relative; }

.reg-form_title h2 {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 36px; }

.reg-form_form form {
  margin-top: 65px;
  text-align: center; }
  .reg-form_form form .reg-form_form_input {
    display: inline-block;
    max-width: 25%;
    padding-right: 30px; }
    .reg-form_form form .reg-form_form_input:first-child {
      padding-right: 0; }
    .reg-form_form form .reg-form_form_input input {
      color: #9f9f9f;
      font-size: 24px;
      font-weight: bold;
      padding: 10px 20px;
      display: block;
      max-width: 100%; }
      .reg-form_form form .reg-form_form_input input::placeholder {
        color: #9f9f9f; }

.reg-form_form_btn-container {
  display: block !important;
  text-align: center;
  margin-top: 55px; }
  .reg-form_form_btn-container .reg-form_form_button {
    color: #fff;
    background-color: #ffc000;
    border: none;
    font-size: 36px;
    padding: 10px 50px;
    border-radius: 50px;
    outline: 0;
    display: block;
    margin: 0 auto; }

.reg-form_call-centre {
  position: absolute;
  top: 0;
  right: 0; }

.reg-form_call-centre_container {
  position: relative; }

@media screen and (min-width: 992px) {
  .top-banner_container_btn:hover {
    color: #ffc000; }
  .button-steps_container a:hover {
    text-decoration: none; }
    .button-steps_container a:hover .button-steps_title {
      text-decoration: none; } }
