@media screen and (min-width: 992px)
	.top-banner_container_btn
		&:hover
			color: $yellow
	.button-steps_container
		a
			&:hover
				text-decoration: none
				.button-steps_title
					text-decoration: none
	.reg-form_call-centre_tel
		&:hover
			text-decoration: none
			color: $yellow
			i
				border-color: $yellow
	.bredcrumbs-step_container_position.true
		a
			&:hover
				text-decoration: none
	.bredcrumbs-step_container_position
		a
			&:hover
				text-decoration: none
	.page-list-content_sidebar_basket_pay_save-package
		.__save-package_button
			&:hover
				background-color: #6a93e0
	.page-list-content_sidebar_basket_pay_paying
		.__next-step
			&:hover
				background-color: #b4c6e7
	button.__position-add-to-cart
		&:hover
			background-color: $yellow
	.second-step_container_position_btn-container
		.__delete_position
			&:hover
				i
					color: #000
	.second-step_container_position_btn-container_price
		.__edit
			&:hover
				text-decoration: underline
	.second-step_buy-block_right-block
		.__save-package
			button
				&:hover
					background-color: $grey-font
	.second-step_buy-block_left-block
		.__go-to-payment
			&:hover
				background-color: $blue

				