@media screen and (min-width: 2000px)
	.reg-form_call-centre
		right: 100px
@media screen and (max-width: 1999px)
	.reg-form_call-centre
		right: 10px
@media screen and (max-width: 1750px) and (min-width: 1200px)
	.reg-form_call-centre
		top: 168px
@media screen and (max-width: 1199px)
	.reg-form_call-centre
		top: 145px
		right: auto
		left: 100px
	.reg-form_form form .reg-form_form_input
		display: block
		max-width: 40%
		padding-right: 0
	.reg-form_form_btn-container
		.reg-form_form_button
		margin: 20px 0 0
		display: block
		max-width: 38%
		padding-right: 0
@media screen and (max-width: 991px) and (min-width: 769px)
	.reg-form_call-centre
		left: 65px
@media screen and (max-width: 768px)
	.top-banner
		min-height: 300px
	.top-banner_container
		padding: 50px 0
	.button-steps
		margin-bottom: 0
	.button-steps_title
		h2
			margin: 30px auto 10px
	.button-steps_container
		height: 350px
		margin: 50px auto
		padding-top: 50px
	.reg-form_form form .reg-form_form_input input
		width: 100%
	.reg-form_form form .reg-form_form_input,
	.reg-form_form_btn-container
		max-width: 100%
	.reg-form_form form
		margin-top: 45px
	.reg-form_call-centre
		position: static
	.reg-form_call-centre_container img
		max-width: 120px
	.reg-form_call-centre_info
		font-size: 28px
	.reg-form_call-centre_tel
		position: static
		text-align: center
		display: block
		margin-top: 20px
	.reg-form_call-centre_container
		margin: 0 auto