@import '_vars.sass'
@import '_fonts.sass'
*
	direction: rtl
body
	max-width: 2480px
	margin: 0 auto
	background-color: #fff
.top-banner
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	min-height: 600px
.top-banner_container
	margin: 0 auto
	text-align: center
	padding: 150px
	h1
		font-size: 36px
		color: $blue-font
		font-weight: bold
.top-banner_container_btn
	border: 0
	outline: none
	background-color: $blue
	color: #fff
	margin-top: 100px
	padding: 0px 100px
	border-radius: 40px
	position: relative
	font-size: 36px
	transition: 0.4s ease all
	img
		position: absolute
		left: 20px
		top: 3px
.button-steps
	margin-bottom: 80px
.button-steps_title
	text-align: center
	margin-bottom: 30px
	h2
		text-align: center
		color: $blue-font
		font-size: 36px
		margin-top: 50px
		margin-bottom: 70px
		display: inline-block
	img
		display: inline-block
		margin-right: 15px
.button-steps_container
	text-align: center
	background-color: $grey
	position: relative
	padding: 70px 30px 0
	height: 400px
.button-steps_number
	position: absolute
	left: 50%
	top: -43px
	transform: translateX(-50%)
	color: #fff
	background-color: $yellow
	border: 3px solid $grey
	border-radius: 100px
	padding: 10px 27px
	font-size: 40px
.button-steps_title
	h4
		color: $blue-font
		font-size: 36px
.button-steps_describe
	p
		font-size: 24px
		text-align: justify
		color: $grey-font
.reg-form
	background-color: $blue
	padding: 40px 0 20px
	color: #fff
	position: relative
.reg-form_title
	h2
		margin: 0
		text-align: center
		font-weight: bold
		font-size: 36px
.reg-form_form
	form
		margin-top: 65px
		text-align: center
		.reg-form_form_input
			display: inline-block
			max-width: 25%
			padding-right: 30px
			&:first-child
				padding-right: 0
			input
				color: $grey-font
				font-size: 24px
				font-weight: bold
				padding: 10px 20px
				display: block
				max-width: 100%
				&::placeholder
					color: $grey-font
.reg-form_form_btn-container
	display: block!important
	text-align: center
	margin-top: 55px
	.reg-form_form_button
		color: #fff
		background-color: $yellow
		border: none
		font-size: 36px
		padding: 10px 50px
		border-radius: 50px

		outline: 0
		display: block
		margin: 0 auto
.reg-form_call-centre
	position: absolute
	top: 0
	right: 0
.reg-form_call-centre_container
	position: relative
@import '_hover.sass'
@import '_media.sass'